<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tags-heading" data-cy="TagsCreateUpdateHeading" jhiTranslate="zahroApp.tags.home.createOrEditLabel">
        Créer ou éditer un Tags
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.tagId.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_tagId" jhiTranslate="zahroApp.tags.tagId">Tag Id</label>
            <input
              type="number"
              class="form-control"
              name="tagId"
              id="field_tagId"
              data-cy="tagId"
              formControlName="tagId"
              [readonly]="true"
            />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_tagName" jhiTranslate="zahroApp.tags.tagName">Tag Name</label>
          <input type="text" class="form-control" name="tagName" id="field_tagName" data-cy="tagName" formControlName="tagName" />
        </div>

        <div class="mb-3">
          <label for="field_posts" jhiTranslate="zahroApp.tags.posts">Posts</label>
          <select
            class="form-control"
            id="field_posts"
            data-cy="posts"
            multiple
            name="posts"
            formControlName="posts"
            [compareWith]="comparePosts"
          >
            @for (postsOption of postsSharedCollection; track $index) {
              <option [ngValue]="postsOption">{{ postsOption.postId }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
