<div>
  <h2 id="page-heading" data-cy="ReplyCommentsHeading">
    <span jhiTranslate="zahroApp.replyComments.home.title">ReplyComments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="zahroApp.replyComments.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reply-comments"
        [routerLink]="['/reply-comments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="zahroApp.replyComments.home.createLabel">Créer un nouveau Reply Comments</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (replyComments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="zahroApp.replyComments.home.notFound">Aucun Reply Comments trouvé</span>
    </div>
  }

  @if (replyComments && replyComments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="replyId">
              <div class="d-flex">
                <span jhiTranslate="zahroApp.replyComments.replyId">Reply Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="zahroApp.replyComments.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="zahroApp.replyComments.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentCommentId.commentId">
              <div class="d-flex">
                <span jhiTranslate="zahroApp.replyComments.parentCommentId">Parent Comment Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="zahroApp.replyComments.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (replyComments of replyComments; track trackReplyId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reply-comments', replyComments.replyId, 'view']">{{ replyComments.replyId }}</a>
              </td>
              <td>{{ replyComments.content }}</td>
              <td>{{ replyComments.createdAt | formatMediumDatetime }}</td>
              <td>
                @if (replyComments.parentCommentId) {
                  <div>
                    <a [routerLink]="['/comments', replyComments.parentCommentId.commentId, 'view']">{{
                      replyComments.parentCommentId.commentId
                    }}</a>
                  </div>
                }
              </td>
              <td>
                {{ replyComments.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/reply-comments', replyComments.replyId, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/reply-comments', replyComments.replyId, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(replyComments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
